# Python-related files and directories to ignore
__pycache__/
*.py[cod]
env/
.venv/
*.idea
*.DS_Store

# Docker-related files to ignore
*.log
*.pid
*.seed
*.pid.lock
*.swp
.env

# SQLite database files to ignore
*.sqlite3

# Database instance directory to ignore
instance/

# Terraform files to ignore
tf/.terraform/
tf/*.tfvars
tf/.terraform.lock.hcl
tf/*.tfstate
tf/*.tfstate.*
tf/providers/

# Ignore .DS_Store files and .idea directory recursively
**/.DS_Store
**/.idea/