# Python-related files and directories to ignore
__pycache__/  # Cache files created by Python
*.py[cod]     # Compiled Python files
env/          # Environment directory
.venv/        # Virtual environment directory
*.idea        # IDE configuration files
*.DS_Store    # macOS directory attribute files

# Docker-related files to ignore
*.log         # Log files
*.pid         # Process ID files
*.seed        # Seed files
*.pid.lock    # Lock files for process IDs
*.swp         # Swap files
.env          # Environment variable files

# SQLite database files to ignore
*.sqlite3     # SQLite database files

# Database instance directory to ignore
instance/     # Database instance directory

# Terraform files to ignore
*terraform*   # All Terraform-related files

# Ignore .DS_Store files and .idea directory recursively
**/.DS_Store
**/.idea/