Flask==3.1.0
Werkzeug==3.1.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.0.0
SQLAlchemy==1.4.49
Flask-Migrate==4.0.4
Flask-Bcrypt==1.0.1
WTForms==3.0.1
gunicorn>=22.0.0
requests>=2.32.0
pymysql
boto3
psycopg2-binary
flask_caching
pytest
Pillow
Flask-Babel
Flask-Session
redis
flask_socketio
eventlet
flask_cors
