{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-4">Available Pokémon Cards</h2>

    <!-- Include the Search Form -->
    {% include "_search_form.html" %}


    <!-- Card Display -->
    <div class="row">
        {% if cards %}
        {% for card in cards %}
            {% include "_card_item.html" %}
        {% endfor %}
        {% else %}
        <div class="col-12 text-center">
            <p>No cards found. Try adjusting your search or filters.</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

