{% extends "base.html" %}

{% block content %}
<div class="auth-container">
    <div class="card auth-card">
        <div class="card-header">
            <h3>{{ _("Reset Password") }}</h3>
        </div>
        <div class="card-body">
            <form action="{{ url_for('auth.reset_password', token=token) }}" method="POST">
                <div class="mb-3">
                    <label for="password" class="form-label">{{ _("New Password") }}</label>
                    <input type="password" class="form-control" name="password" placeholder="{{ _('Enter your new password') }}" required>
                    <small class="form-label">
                        {{ _("Password must include uppercase, lowercase, and numbers.") }}
                    </small>
                </div>
                <button type="submit" class="btn btn-success">{{ _("Reset Password") }}</button>
            </form>
        </div>
        <div class="card-footer">
            <small>
                {{ _('Know your password? ') }}
                <a href="{{ url_for('auth.auth') }}" class="text-primary">{{ _('Login here') }}</a>.
            </small>
        </div>
    </div>
</div>
{% endblock %}

